doctype html
head
  title Buy cool new product
  link(rel='stylesheet' href='style.css')
  script(src='https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch')
  script(src='https://js.stripe.com/v3/')
section
  .product
    img(src='https://i.imgur.com/EHyR2nP.png' alt='The cover of Stubborn Attachments')
    .description
      h3 Stubborn Attachments
      h5 $20.00
  form(action='/create-checkout-session' method='POST')
    button#checkout-button(type='submit') Checkout
