doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='/public/if.ico')
body 
  title HOME
style
      include style.css
h1 JETAPI
p Restful API to query definitions and examples of fighter jets . 
form(action='payment' method='POST')

p Restful API to query definitions and examples of fighter jets. 
a(href='/fundamentals') FUNDAMENTALS
a(href='/intermediate') INTERMEDIATE
a(href='/advanced') ADVANCED
a(href='/elite') ELITE
a(href='/ultimate') ULTIMATE

script.stripe-button(src='//checkout.stripe.com/v2/checkout.js' data-key='<%= key %>' data-amount='0.05' data-currency='cad' data-name='Iftiin' data-description='Jetapi - PRO version' data-locale='auto')
.twirl
    span(style='--i:1')
    img(src='https://i.ibb.co/026qxxj/jet.png')

p Provisioned by IFTIIN
    
